block content
h1 Weather App
p The weather in  #{city} is #{weather}
p The temp in  #{city} is #{temp}#{unit}
p This is the weather report at #{timestamp}

a(class = 'button', href = '/sendWeatherAPI') Get Weather